@font-face {
    font-family: jam-icons;
    src: url('../assets/fonts/font-icons/jam-icons.eot');
    /* IE9 Compat Modes */
    src: url('../assets/fonts/font-icons/jam-icons.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../assets/fonts/font-icons/jam-icons.woff') format('woff'), /* Pretty Modern Browsers */
    url('../assets/fonts/font-icons/jam-icons.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../assets/fonts/font-icons/jam-icons.svg#svgFontName') format('svg');
    /* Legacy iOS */
}

@font-face {
    font-family: Raleway;
    font-weight: 700;
    src: url("../assets/fonts/Raleway/Raleway-Bold.ttf");
}

@font-face {
    font-family: Raleway;
    font-weight: 600;
    src: url("../assets/fonts/Raleway/Raleway-SemiBold.ttf");
}

@font-face {
    font-family: Raleway;
    font-weight: 500;
    src: url("../assets/fonts/Raleway/Raleway-Medium.ttf");
}

@font-face {
    font-family: Roboto;
    font-weight: 400;
    src: url("../assets/fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
    font-family: Roboto;
    font-weight: 500;
    src: url("../assets/fonts/Roboto/Roboto-Medium.ttf");
}

@font-face {
    font-family: Roboto;
    font-weight: 300;
    src: url("../assets/fonts/Roboto/Roboto-Light.ttf");
}

@font-face {
    font-family: Roboto;
    font-weight: 100;
    src: url("../assets/fonts/Roboto/Roboto-Thin.ttf");
}



* {
    font-family: Roboto;
}

html, body {
    height: 100%;
    background-color: #666666;
}

h1 {
    font-family: Raleway;
    font-weight: 700;
    font-size: 36px;
}

.hoverBox:hover {
    /* border: 2px solid #42A5F5; */
    border-radius: 5px;
    box-shadow: 0 0 3px #42A5F5;
    /* outline:2px solid #42A5F5; */
}

h2 {
    font-family: Raleway;
    font-weight: 500;
    font-size: 28px;
}

h3 {
    font-family: Raleway;
    font-weight: 600;
    font-size: 24px;
}

h4 {
    font-family: Raleway;
    font-weight: 500;
    font-size: 18px;
}

#root {
    height: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #666666;
}

#scrollWrapper {
    height: auto;
    /* max-height: 500px; */
    overflow-x: hidden;
    /* overflow-y: scroll; */
}

.gradient {
    background: rgba(69, 90, 100, 1);
    background: -moz-linear-gradient(top, rgba(69, 90, 100, 1) 28%, rgba(64, 84, 94, 1) 36%, rgba(43, 57, 64, 1) 74%, rgba(37, 50, 56, 1) 84%);
    background: -webkit-gradient(left top, left bottom, color-stop(28%, rgba(69, 90, 100, 1)), color-stop(36%, rgba(64, 84, 94, 1)), color-stop(74%, rgba(43, 57, 64, 1)), color-stop(84%, rgba(37, 50, 56, 1)));
    background: -webkit-linear-gradient(top, rgba(69, 90, 100, 1) 28%, rgba(64, 84, 94, 1) 36%, rgba(43, 57, 64, 1) 74%, rgba(37, 50, 56, 1) 84%);
    background: -o-linear-gradient(top, rgba(69, 90, 100, 1) 28%, rgba(64, 84, 94, 1) 36%, rgba(43, 57, 64, 1) 74%, rgba(37, 50, 56, 1) 84%);
    background: -ms-linear-gradient(top, rgba(69, 90, 100, 1) 28%, rgba(64, 84, 94, 1) 36%, rgba(43, 57, 64, 1) 74%, rgba(37, 50, 56, 1) 84%);
    background: linear-gradient(to bottom, rgba(69, 90, 100, 1) 28%, rgba(64, 84, 94, 1) 36%, rgba(43, 57, 64, 1) 74%, rgba(37, 50, 56, 1) 84%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#455a64', endColorstr='#253238', GradientType=0);
}

#navlinks .active {
    background-color: #253238;
}

#navlinks .nav-link:hover:not(.active):not(.orange-link) {
    background-color: #3b4d55;
}

#navlinks .active, #navlinks .orange-link {
    pointer-events: none;
    cursor: default;
}

#navlinks .orange-link {
    background-color: #FF6D00;
}

#loginBox .form-group .form-control::-webkit-input-placeholder {
    color: #bebdbd;
    line-height: 5;
    font-size: 12px;
}

/* Chrome/Opera/Safari */

#loginBox .form-group .form-control::-moz-placeholder {
    color: #bebdbd;
    line-height: 5;
    font-size: 12px;
}

/* Firefox 19+ */

#loginBox .form-group .form-control:-ms-input-placeholder {
    color: #bebdbd;
    line-height: 5;
}

/* IE 10+ */

#loginBox {
    height: 100vh;
}

#loginBox .form-control {
    border: none;
}

.form-control:focus, .form-control:active {
    outline: none !important;
    -webkit-box-shadow: none;
}

.font-raleway {
    font-family: Raleway;
}