@font-face {
    font-family: Raleway-Bold;
    src: url("../assets/fonts/Raleway/Raleway-Bold.ttf");
}

@font-face {
    font-family: Raleway-SemiBold;
    src: url("../assets/fonts/Raleway/Raleway-SemiBold.ttf");
}

@font-face {
    font-family: Raleway-Medium;
    src: url("../assets/fonts/Raleway/Raleway-Medium.ttf");
}

@font-face {
    font-family: Roboto-Regular;
    src: url("../assets/fonts/Roboto/Roboto-Regular.ttf");
}

html, body {
    height: 100%;
    background-color: #666666;
}

#root {
    height: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #666666;
}

.gradient {
    background: rgba(69, 90, 100, 1);
    background: -moz-linear-gradient(top, rgba(69, 90, 100, 1) 28%, rgba(64, 84, 94, 1) 36%, rgba(43, 57, 64, 1) 74%, rgba(37, 50, 56, 1) 84%);
    background: -webkit-gradient(left top, left bottom, color-stop(28%, rgba(69, 90, 100, 1)), color-stop(36%, rgba(64, 84, 94, 1)), color-stop(74%, rgba(43, 57, 64, 1)), color-stop(84%, rgba(37, 50, 56, 1)));
    background: -webkit-linear-gradient(top, rgba(69, 90, 100, 1) 28%, rgba(64, 84, 94, 1) 36%, rgba(43, 57, 64, 1) 74%, rgba(37, 50, 56, 1) 84%);
    background: -o-linear-gradient(top, rgba(69, 90, 100, 1) 28%, rgba(64, 84, 94, 1) 36%, rgba(43, 57, 64, 1) 74%, rgba(37, 50, 56, 1) 84%);
    background: -ms-linear-gradient(top, rgba(69, 90, 100, 1) 28%, rgba(64, 84, 94, 1) 36%, rgba(43, 57, 64, 1) 74%, rgba(37, 50, 56, 1) 84%);
    background: linear-gradient(to bottom, rgba(69, 90, 100, 1) 28%, rgba(64, 84, 94, 1) 36%, rgba(43, 57, 64, 1) 74%, rgba(37, 50, 56, 1) 84%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#455a64', endColorstr='#253238', GradientType=0);
}

#navlinks .active {
    background-color: #253238;
}

#navlinks .nav-link:hover:not(.active):not(.orange-link) {
    background-color: #3b4d55;
}

#navlinks .active, #navlinks .orange-link {
    pointer-events: none;
    cursor: default;
}

#navlinks .orange-link {
    background-color: #FF6D00;
}

#loginBox .form-group .form-control::-webkit-input-placeholder {
    color: #666666;
    font-family: Raleway-Medium;
    line-height: 5;
}

/* Chrome/Opera/Safari */

#loginBox .form-group .form-control::-moz-placeholder {
    color: #666666;
    font-family: Raleway-Medium;
    line-height: 5;
}

/* Firefox 19+ */

#loginBox .form-group .form-control:-ms-input-placeholder {
    color: #666666;
    font-family: Raleway-Medium;
    line-height: 5;
}

/* IE 10+ */

#loginBox {
    height: 100vh
}

.form-control {
    border: none;
}

.form-control:focus, .form-control:active {
    outline: none !important;
    -webkit-box-shadow: none;
}