@font-face {
  font-family: jam-icons;
  src: url("../assets/fonts/font-icons/jam-icons.eot");
  /* IE9 Compat Modes */
  src: url("../assets/fonts/font-icons/jam-icons.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../assets/fonts/font-icons/jam-icons.woff")
      format("woff"),
    /* Pretty Modern Browsers */ url("../assets/fonts/font-icons/jam-icons.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../assets/fonts/font-icons/jam-icons.svg#svgFontName") format("svg");
  /* Legacy iOS */
}

@font-face {
  font-family: Raleway;
  font-weight: 700;
  src: url("../assets/fonts/Raleway/Raleway-Bold.ttf");
}

@font-face {
  font-family: Raleway;
  font-weight: 600;
  src: url("../assets/fonts/Raleway/Raleway-SemiBold.ttf");
}

@font-face {
  font-family: Raleway;
  font-weight: 500;
  src: url("../assets/fonts/Raleway/Raleway-Medium.ttf");
}

@font-face {
  font-family: Roboto;
  font-weight: 400;
  src: url("../assets/fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
  font-family: Roboto;
  font-weight: 500;
  src: url("../assets/fonts/Roboto/Roboto-Medium.ttf");
}

@font-face {
  font-family: Roboto;
  font-weight: 300;
  src: url("../assets/fonts/Roboto/Roboto-Light.ttf");
}

@font-face {
  font-family: Roboto;
  font-weight: 100;
  src: url("../assets/fonts/Roboto/Roboto-Thin.ttf");
}

* {
  font-family: Roboto;
}

html,
body {
  height: 100%;
  background-color: #fff;
}

html {
  overflow: hidden;
}

body {
 
}

#root {
  height: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  margin-left: 10px;
  margin-right: 10px;
}

.custom-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.noBorder:focus,
.form-control:focus,
.form-control:active,
.dropdown-item {
  outline: none !important;
  -webkit-box-shadow: none;
}

#scrollWrapper {
  height: auto;
  overflow-x: hidden;
}

.tableProjects table th {
  width: 80px;
}

.tableProjects table td {
  width: 0px;
}

.tableProjects .peopleName {
  font-size: 14px;
}

.btnLogout {
  font-size: 13px;
  margin-top: -20px;
  margin-right: -30px;
}

.btnLogout span{
  margin-top: 3px;
}

.logoutBox{
  margin-top: -20px;
  text-align: right;
  padding: 0;
  font-size: 13px;
  min-width: 100px;
}

.logoutBox a{
  padding-right: 10px;
}

.nounderline {
  text-decoration: none !important;
}

.react-datepicker-wrapper input {
  width: 200px;
  background-color: #666667;
  color: white;
  font-size: 13px;
  padding: 7px;
  outline: none !important;
  -webkit-box-shadow: none;
  border-width: inherit;
  border: .5px solid;
  border-radius: 0;
  text-align: right;
}

.calendarFrom {
  top: 30;
}

.custom-select {
  border-radius: 1px;
}

#filter ul {
  list-style: none; /* Remove list bullets */
  padding: 0;
  margin: 0;
}

.goalsBox{
  height: calc(100vh - 160px);
  overflow: auto;
}

.checkedBox{
  font-size: 15px;
  padding: 10px 20px
}

.checkedBox div:nth-child(1){
  margin-top: -10px;
}

.checkedBox span {
  margin-top: 4px;
}

.formTask {
  position: absolute;
  bottom: 5px;
  width: 96%;
}

.react-datepicker-popper {
  top: -8px !important;
  left: -8px !important;
}


.react-datepicker__triangle {
  left: 16px !important;
}

.goalsBox .checkedBox div:nth-child(1) {
  margin-top: 0;
}

.priority {
  margin-left: 5px;
  margin-right: 2rem;
  padding: 2px 8px;
  border-radius: 6px;
  font-size: 0.7em;
  text-transform: uppercase;
  color: white;
  user-select: none;
  width: 55px;
  text-align: center;
}

.priority.low {
  background: #ffc107;
}

.priority.high {
  background: orangered;
}

.priority.urgent {
  background: red;
}

.prioritybox-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.001);
}

.prioritybox-selector {
  position: relative;
  z-index: 100;
  margin-left: 10px;
  margin-right: 20px;
}

.nameView {
  font-size: 2.5rem;
}

.collapseBtn {
  top: 27px;
  padding-right: 28px;
}

.table {
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
  height: 90vh !important;
}

.addUserBtn {
  display: flex;
  align-items: flex-end;
  height: 80px;
  flex-direction: column-reverse;
}

.newTask {
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-content: space-between;
    margin-top: -5px;
}
.task-row {
  margin: 12px 0px 12px 0px;
}
.form-check-input {
  position: inherit;
  margin-top: .3rem;
  margin-left: -1.25rem;
  margin-right: .50rem;
}

.styles_Editext__edit_button__hthOZ {
  font-size: xx-small;
}

.labelTask {
  margin: auto !important;
}