@font-face {
    font-family: jam-icons;
    src: url('../assets/fonts/font-icons/jam-icons.eot');
    /* IE9 Compat Modes */
    src: url('../assets/fonts/font-icons/jam-icons.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../assets/fonts/font-icons/jam-icons.woff') format('woff'), /* Pretty Modern Browsers */
    url('../assets/fonts/font-icons/jam-icons.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../assets/fonts/font-icons/jam-icons.svg#svgFontName') format('svg');
    /* Legacy iOS */
}

@font-face {
    font-family: Raleway;
    font-weight: 700;
    src: url("../assets/fonts/Raleway/Raleway-Bold.ttf");
}

@font-face {
    font-family: Raleway;
    font-weight: 600;
    src: url("../assets/fonts/Raleway/Raleway-SemiBold.ttf");
}

@font-face {
    font-family: Raleway;
    font-weight: 500;
    src: url("../assets/fonts/Raleway/Raleway-Medium.ttf");
}

@font-face {
    font-family: Roboto;
    font-weight: 400;
    src: url("../assets/fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
    font-family: Roboto;
    font-weight: 500;
    src: url("../assets/fonts/Roboto/Roboto-Medium.ttf");
}

@font-face {
    font-family: Roboto;
    font-weight: 300;
    src: url("../assets/fonts/Roboto/Roboto-Light.ttf");
}

@font-face {
    font-family: Roboto;
    font-weight: 100;
    src: url("../assets/fonts/Roboto/Roboto-Thin.ttf");
}

* {
    font-family: Roboto;
}

html, body {
    height: 100%;
    background-color: #fff;
}

html {
    overflow: hidden;
}

body {
    overflow: auto;
}

#root {
    height: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0; 
}